### Problem Statement

In this assignment students will build the random forest model after normalizing the
variable to house pricing from boston data set.
Following the code to get data into the environment:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import datasets
boston = datasets.load_boston()
features = pd.DataFrame(boston.data, columns=boston.feature_names)
targets = boston.target

In [95]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from sklearn.metrics import roc_auc_score
import matplotlib.pyplot as plt
%matplotlib inline

##### Load data

In [80]:
boston = datasets.load_boston()
boston
features = pd.DataFrame(boston.data,columns=boston.feature_names)
targets = boston.target

In [81]:
features.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

##### Split data for training & testing

In [82]:
X_train,X_test,Y_train,Y_test = train_test_split(features,targets,test_size=.7)

##### Train random forest

In [83]:
rf=RandomForestRegressor(random_state=1)
rf.fit(X_train,Y_train)
Y_pred=rf.predict(X_test) # predicting test data price

##### Random Forest Predicted values

In [102]:
comp_df = pd.DataFrame({'Actual_Price':Y_test,'Predicted_Price':Y_pred})
comp_df.head()

   Actual_Price  Predicted_Price
0          12.1            12.74
1          13.5            16.36
2          24.6            25.37
3          21.0            25.09
4          19.4            21.57